#login{
  background: url(/src/assets/images/img19.png) 75% 25%/cover no-repeat;
  box-shadow: inset 5px 75px 75px -9px #000000, rgb(0, 0, 0) 0em -3em 30px inset;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    text-shadow: none;
    font-size: 1.5em;
    margin-top: 35px;
  }
  .login{
    margin: 250px 0 100px 0;
    background: rgb(2,0,36);
    background: rgb(177,19,19);
    background: radial-gradient(circle at top right, rgba(177, 19, 19, 1) 0%, rgba(33, 46, 62, 1) 31%,  rgba(32, 46, 66, 1) 66%, rgba(7, 51, 140, 1) 89%);
    backdrop-filter: blur(3px);
    border-radius: 20px;
    width: 70%;
    max-width: 800px;
    .title{
      text-align: center;
    }
    .reg{
      display: flex;
      justify-content: center;
      margin: 5px 0 15px;
    }
    form{
      background: linear-gradient(to bottom right, #717b83, #717b832f);
      border: 2px solid #717b8388;
      border-radius: 15px;
      margin: 20px 15% 15% 15%;
      padding: 25px;
      label{
        font-family: 'H1 B';
        font-size: 1.5em;
      }
      .check{
        border: 2px solid #8c9196;
        border-radius: 5px;
        width: 100%;
        padding: .1em .5em;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        input{
          background: none;
          border: none;
          padding: .2em;
          width: 90%;
          margin-left: 5px;
          color: #fff;
          font-family: 'Text';
          font-size: 1em;
          &:focus{
            outline: none;
          }
          &::placeholder{
            color: #e0e3e6;
            font-family: 'Text';
            font-size: 1em;
          }
        }
        img{
          height: 25px;
          filter: brightness(0) saturate(100%) invert(66%) sepia(10%) saturate(195%) hue-rotate(169deg) brightness(86%) contrast(83%);
        }
      }
      .log{
        padding: 1em 1.8em;
        margin: 1em 0;
        background: linear-gradient(to right, rgba(7, 51, 140, 0.7), rgba(180, 32, 46, 1));
        color: #fff;
        font-family: 'H1 B';
        text-transform: uppercase;
        width: 100%;
        letter-spacing: 3px;
        font-size: 1.2em;
        border: none;
        border-radius: 20px;
        transition: all .5s ease-in-out;
        cursor: pointer;
        &:hover{
          background: linear-gradient(to top right, #07338c, #b4202e);
        }
      }
    }
  }
}

.forgot{
  display: flex;
  align-items: center;
  gap: 5%;
  p{
    min-width: 45%;
  }
  .ln{
    width: 100%;
    height: 1px;
    background: #8c9196;
  }
}
@media (min-width: 900px) {
  .forgot p{
    min-width: 20%;
  }
}

.spons{
  display: flex;
  gap: 35px;
  margin: 15px 0 0;
}

#dash{
  button{
    padding: .9em 1.8em;
    margin: 1em 0;
    border: 3px solid #07338c4a;
    background: linear-gradient(to right, #07338c70, #b4202e70);
    color: #fff;
    font-family: 'H1 B';
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2em;
    border-radius: 20px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    &:hover{
      background: linear-gradient(to right, #07338c, #b4202e);
    }
  }
}

#secret{
  display: flex;
  align-items: center;
  background:  url(/src/assets/images/img37.png) center/cover no-repeat;
  box-shadow: inset 5px 75px 75px -9px #000000;
}

.identity{
  box-shadow: inset 5px 75px 75px -9px #182d3e , rgb(0, 0, 0) 0em -3em 30px inset;
  display: flex;
  gap: 2%;
  padding: 15% 12% 0;
  position: relative;
  .modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    background: #07338c3d;
    backdrop-filter: blur(5px);
    padding: 5em;
    border-radius: 2em;
    border: 2px solid #212E3E;
    animation: fade-in .4s ease-in!important;
    .modal-content{
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      .Close{
        position: fixed;
        top: 0;
        right: 0;
        background: none!important;
        img{
          width: 35px;
        }
      }
    }
  }
  .leftp{
      p{
          margin: 5px 0;
          cursor: pointer;
          &:hover{
              text-decoration: underline;
          }
      }
  }
  .rightp{
    transition: all ,5s ease-in-out;
    label, span{
      font-family: 'Text';
      font-size: 1.2em;
    }
    span{
      margin-left: 10px;
    }
    input{
      background: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid grey;
      margin-left: 10px;
      font-family: 'Text B';
      font-size: 1.2em;
      color: #b11313;
      &:focus{
        outline: none;
      }
    }
  }
}
section{
  position: relative;
  margin-bottom: 100px;
  margin-left: 10%;
  &::after{
      content: '';
      height: 100%;
      width: 1px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: -7%;
  }
  h3{
      font-size: 3em;
      font-family: 'H1 B';
      position: relative;
      margin-bottom: 5%;
      &::after{
          content: '';
          height: 1px;
          width: 100%;
          background: #fff;
          position: absolute;
          bottom: 0;
          left: 0;
      }
  }
  div{
    margin: 0 5px 0;
  }
}