#shop-first{
    background: url(/src/assets/images/img20.png) 50% 50%/cover no-repeat;
    display: flex;
    align-items: center;
}

.below{
    text-align: center;
    img{
        width: 10vw;
        max-width: 65px;
        min-width: 15px;
    }
}
.cart{
    position: absolute;
    padding: 35px;
    top: 0;
    right: 0;
    img{
        width: 35px;
    }
}
#shop-second{
    position: relative;
}