footer{
    margin: 5% 0 15%;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footsoc{
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        margin: 15px 10px;
    }
}