.navbar{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 15px 25px;
    position: absolute;
    width: 100%;
    .nav-logo{
        text-align: center;
        .sup{
            margin-bottom: 175px;
            img{
                width: 25vw;
                max-width: 100px;
                min-width: 50px;
                cursor: pointer;
            }
        }
        .mds{
            margin: 75px 0;
            img{
                height: 30px;
                cursor: pointer;
                transition: all .25s ease-in-out;
                &:hover{
                    filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
                    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
                    animation: heartbeat 1.5s ease-in-out infinite both;
                }
            }
        }
    }
    .nav-links ul li{
            font-family: 'H1 S';
            font-size: 2em;
            display: inline-block;
            padding: 0 15px;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 4px;
                bottom: 0;
                left: 0;
                background-color: #fff;
                transform-origin: bottom center;
                transition: all 0.5s ease-in-out;
            }
            &:hover::after{
                transform: scaleX(.6);
            }
    }
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }