@charset "UTF-8";
/*SASS Partials*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  position: absolute;
  width: 100%;
}
.navbar .nav-logo img {
  width: 25vw;
  max-width: 100px;
  min-width: 50px;
}
.navbar .nav-links ul li {
  font-family: "H1 S";
  font-size: 2em;
  display: inline-block;
  padding: 0 15px;
  position: relative;
}
.navbar .nav-links ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom center;
  transition: all 0.5s ease-in-out;
}
.navbar .nav-links ul li:hover::after {
  transform: scaleX(0.6);
}

/*reseting default annoying settings*/
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  scroll-behavior: smooth;
  color: #fff;
}

*:not(header) {
  animation: fade-in 0.5s ease-in;
}

body {
  background: #000;
}

.page {
  min-height: 100vh;
  box-shadow: rgb(0, 0, 0) 0em -3em 30px inset;
}

/*partie animation, fade in*/
@keyframes fade-in {
  from {
    transform: translateX(-10%);
    opacity: 0.2;
    filter: blur(15px);
  }
}
/*Font importation*/
@font-face {
  font-family: "Adv";
  src: url(/src/assets/fonts/adventure/Adventure.otf);
}
@font-face {
  font-family: "Adv H";
  src: url(/src/assets/fonts/adventure/Adventure-Hollow.otf);
}
@font-face {
  font-family: "H1 B";
  src: url(/src/assets/fonts/rajdhani/Rajdhani-Bold.ttf);
}
@font-face {
  font-family: "H1 M";
  src: url(/src/assets/fonts/rajdhani/Rajdhani-Medium.ttf);
}
@font-face {
  font-family: "H1 S";
  src: url(/src/assets/fonts/rajdhani/Rajdhani-SemiBold.ttf);
}
@font-face {
  font-family: "Text";
  src: url(/src/assets/fonts/cantarell/Cantarell-Regular.ttf);
}
@font-face {
  font-family: "Text O";
  src: url(/src/assets/fonts/cantarell/Cantarell-Oblique.ttf);
}
@font-face {
  font-family: "Text B";
  src: url(/src/assets/fonts/cantarell/Cantarell-Bold.ttf);
}
@font-face {
  font-family: "Text BO";
  src: url(/src/assets/fonts/cantarell/Cantarell-BoldOblique.ttf);
}
/*default texts styles*/
h1 {
  font-family: "H1 B";
  font-size: 3em;
  font-style: italic;
  text-shadow: 0 0 2em black, 0px 0px 10px red, 0 0 3em grey;
  margin: 0 12%;
}

p {
  font-family: "Text";
}

#intro {
  background: url(/src/assets/images/img1.png) 75% 25%/cover no-repeat;
  box-shadow: inset 5px 75px 75px -9px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro .titref {
  margin: 0 0 0 5%;
}
#intro h1 {
  font-family: "Adv";
  text-shadow: 1px 1px rgba(0, 4, 255, 0.5725490196), 2px 2px #000;
  font-size: 7vw;
  margin: 0;
}
#intro h2 {
  font-family: "H1 B";
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: 1px 1px rgba(255, 0, 0, 0.3921568627), 2px 2px #000;
}

@media (max-width: 450px) {
  #intro h1 {
    font-size: 2em;
  }
}
.text-block, .titles-stuff {
  margin: 0 12%;
  text-align: justify;
}
.text-block h3, .titles-stuff h3 {
  font-family: "H1 B";
  font-size: 1.5em;
  margin-bottom: 15px;
  text-shadow: 1px 1px #000, 2px 2px #fff;
  cursor: grab;
}

#versus {
  background: url(/src/assets/images/img11.png);
  box-shadow: rgb(0, 0, 0) 0em -3em 30px inset;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 700px;
  text-align: justify;
  padding: 15%;
  filter: grayscale(100%);
}
#versus h3 {
  font-family: "H1 B";
  font-size: 1.5em;
  margin-bottom: 15px;
  text-shadow: 1px 1px #000, 2px 2px #fff;
}

/*Movie trailer part*/
.media {
  display: flex;
  align-items: center;
  margin: 10% auto;
  width: 80%;
}
.media h3 {
  font-family: "Text B";
}
.media .synopsis {
  height: 230px;
  display: flex;
  background: linear-gradient(to bottom right, #4e4940, #091e2a);
  border-radius: 0 20px 20px 0;
}
.media .synopsis .texts {
  padding: 10px 15px;
}
.media .arrow {
  margin: 0 30px;
}

/*Responsive partie trailer*/
@media screen and (max-width: 1200px) {
  .media {
    width: 100%;
  }
  .media .synopsis {
    height: max-content;
  }
}
@media screen and (max-width: 800px) {
  .media {
    width: 90%;
  }
  .media .synopsis {
    border-radius: 0 20px 20px 20px;
    height: 100%;
  }
  .media .synopsis img {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .media {
    width: 75%;
  }
  .media .synopsis {
    margin-top: 200px;
    height: 100%;
    position: relative;
  }
  .media .synopsis img {
    display: block;
    position: absolute;
    top: -240px;
  }
  .media .arrow {
    display: none;
  }
}
/*Hors section, partie vidéo... */
.video {
  text-align: center;
}
.video img {
  width: 80%;
  transition: all 0.25s ease-in-out;
}
.video img:hover {
  filter: drop-shadow(0 0 10px white);
}

/*Last part the form*/
#contact {
  background: url(/src//assets/images/img16.png);
  background-size: cover;
}
#contact h3 {
  font-family: "H1 B";
  text-shadow: 1px 1px #fff, 2px 2px #000;
  font-size: 1.5em;
}
#contact h2 {
  font-family: "Text";
}

form {
  border-top: 3px solid rgba(136, 134, 134, 0.4078431373);
  border-bottom: 3px solid rgba(136, 134, 134, 0.4078431373);
  background: rgba(241, 53, 53, 0.1058823529);
  backdrop-filter: blur(5px);
  padding: 5% 12%;
  margin: 15% 0;
  line-height: 30px;
}
form input, form select {
  font-family: "Texte";
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
form input:focus, form select:focus {
  outline: none;
}
form select > option {
  background-color: rgba(9, 30, 42, 0.2078431373);
}
form .btn2 {
  margin: 15px;
  padding: 5px 15px;
  background: none;
  border: 2px solid;
  border-image: linear-gradient(to right, rgba(237, 222, 191, 0.4588235294), rgba(25, 88, 125, 0.4588235294)) 1;
  color: #fff;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
form .btn2:hover {
  background: none;
  border-image: linear-gradient(to right, #EDDEBF, #19587D) 1;
}
form .button {
  display: flex;
  justify-content: center;
}
form .conf {
  font-family: "Adv";
  letter-spacing: 2px;
}
form button {
  margin: 10px 0;
  padding: 15px 25px;
  border-radius: 15px;
  border: 2px solid rgba(57, 68, 188, 0.5882352941);
  background: rgba(19, 56, 190, 0.4745098039);
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
form button:hover {
  background: #1338be;
}

.one, .two, .three, .four {
  margin: 15px 0;
}

/*the real last part... Last but not a least... Quotes*/
#quotes {
  margin: 25% 10%;
}
#quotes img {
  width: 10vh;
}
#quotes .leftg {
  text-align: left;
}
#quotes .quotes {
  text-align: center;
  margin: 5% 0;
}
#quotes .rightd {
  text-align: right;
}
#quotes .point {
  display: flex;
  justify-content: center;
}
#quotes .point .dot {
  margin: 5px 2px;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  border: 1px solid #429ef5;
}

/*END!*/
.formulaire {
  background: none !important;
  text-align: left !important;
}

#shop-first {
  background: url(/src/assets/images/img20.png) 50% 50%/cover no-repeat;
  box-shadow: inset 5px 75px 75px -9px #000000;
  display: flex;
  align-items: center;
}

.below {
  text-align: center;
}
.below img {
  width: 10vw;
  max-width: 65px;
  min-width: 15px;
}

.cart {
  position: fixed;
  margin: 35px;
  top: 150px;
  right: -15px;
  width: fit-content;
  cursor: pointer;
  -webkit-animation: wobble-hor-bottom 2.8s infinite both;
  animation: wobble-hor-bottom 2.8s infinite both;
}
.cart img {
  width: 35px;
}
.cart .cartbtn {
  position: relative;
}
.cart .cartbtn .buy {
  position: absolute;
  top: -10px;
  right: -10px;
  font-family: "Text B";
  color: red;
  text-shadow: #FC0 0px 0 5px;
}

.buy {
  width: fit-content;
}
.buy .product-card {
  border: 2px solid #fff;
  width: 225px;
  height: fit-content;
  text-align: center;
  color: #fff;
}
.buy .product-card img {
  width: 100%;
  max-height: 70%;
  border-bottom: 2px solid #fff;
}
.buy .product-card p {
  font-weight: bold;
  letter-spacing: 1px;
}
.buy button {
  width: 100%;
  margin: 10px 0;
  padding: 15px 0;
  border-radius: 15px;
  border: 2px solid rgba(57, 68, 188, 0.5882352941);
  background: rgba(19, 56, 190, 0.4745098039);
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.buy button:hover {
  background: #1338be;
}

@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-6deg);
    transform: translateX(-15px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(7px) rotate(6deg);
    transform: translateX(7px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-7px) rotate(-3.6deg);
    transform: translateX(-7px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(4px) rotate(2.4deg);
    transform: translateX(4px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
    transform: translateX(-3px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-6deg);
    transform: translateX(-15px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(7px) rotate(6deg);
    transform: translateX(7px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-7px) rotate(-3.6deg);
    transform: translateX(-7px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(4px) rotate(2.4deg);
    transform: translateX(4px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
    transform: translateX(-3px) rotate(-1.2deg);
  }
}
#shop-second {
  position: relative;
  overflow-x: hidden;
  display: flex;
  padding: 15% 45px 5%;
  gap: 5%;
}

button {
  color: #000;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5%;
  width: 100%;
}
.shop .product {
  background-color: red;
  border: 3px solid red;
}

.cart-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  padding: 0 10px;
  min-height: 250px;
  height: fit-content;
  background: rgba(7, 51, 140, 0.2392156863);
  backdrop-filter: blur(5px);
  border-radius: 2em;
  border: 2px solid #212E3E;
  animation: fade-in 0.4s ease-in !important;
}

.cart-content {
  position: relative;
}
.cart-content .close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  font-family: "H1 B";
  --b: 3px; /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #ffffff7b;
  padding: calc(0.05em + var(--s)) calc(0.7em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  margin: 15px 10px;
}
.cart-content .close-button:hover, .cart-content .close-button:focus-visible {
  --_p: 0px;
  outline-color: rgba(255, 255, 255, 0.1882352941);
  outline-offset: 0.05em;
}
.cart-content .close-button:active {
  background: var(--color);
  color: #fff;
}
.cart-content .empty {
  height: 75px;
  width: 300px;
}
.cart-content .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  text-align: center;
  text-shadow: 2px 2px #000;
  background: #b11312;
  box-shadow: 5px 7px 16px 3px rgba(255, 255, 255, 0.4078431373);
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px 15px 10%;
}
.cart-content .cart-item .leftc {
  margin: 0 35px 0 0;
}
.cart-content .cart-item p {
  font-family: "Text B";
}
.cart-content .cart-item .quant {
  font-family: "H1 B";
  font-size: 1.5em;
  margin: 0 5px;
}
.cart-content .cart-item button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.3rem - 1px) calc(0.7rem - 1px);
  margin: 0 5px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.cart-content .cart-item button:hover, .cart-content .cart-item button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 55, 255, 0.1) 0 4px 12px;
  color: #1338be;
}
.cart-content .cart-item button:hover {
  transform: translateY(-1px);
}
.cart-content .cart-item button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.checkout-btn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  padding: 5px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}
.checkout-btn:hover {
  background: #F6F9FE;
  color: #174ea6;
}
.checkout-btn:active {
  box-shadow: 0 4px 4px 0 rgba(60, 64, 67, 0.3), 0 8px 12px 6px rgba(60, 64, 67, 0.15);
  outline: none;
}
.checkout-btn:focus {
  outline: none;
  border: 2px solid #4285f4;
}
.checkout-btn:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.checkout-btn:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}
.checkout-btn:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.checkout-btn:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0, rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}
.checkout-btn:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  background: rgba(7, 51, 140, 0.2392156863) url(/src/assets/popup/sup1.png) 1% 1%/30% no-repeat;
  border: 2px solid #212E3E;
  border-radius: 2em;
  padding: 5em;
  backdrop-filter: blur(7px);
  animation: fade-in 0.4s ease-in !important;
  text-align: center;
  text-transform: uppercase;
}
.popup p {
  font-family: "h1 b";
  font-size: 1.5em;
  text-shadow: 2px 2px #07338c, 3px 3px #fff, 4px 4px #07338c;
}
.popup button {
  border: 2px solid #07338c;
  font-family: "Adv";
  letter-spacing: 2px;
  text-shadow: 1px 1px #07338c, 2px 2px #000;
  background: #000;
  margin: 15px 20px;
  padding: 10px 15px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

.checkout-final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  background: rgba(7, 51, 140, 0.2392156863) url(/src/assets/popup/sup2.png) 122% 1%/50% no-repeat;
  border: 2px solid #212E3E;
  border-radius: 2em;
  padding: 5em;
  backdrop-filter: blur(7px);
  animation: fade-in 0.4s ease-in !important;
  text-transform: uppercase;
}
.checkout-final p {
  font-family: "h1 b";
  font-size: 1.5em;
  text-shadow: 2px 2px #07338c, 3px 3px #fff, 4px 4px #07338c;
}
.checkout-final button {
  border: 2px solid #07338c;
  font-family: "Adv";
  letter-spacing: 2px;
  text-shadow: 1px 1px #07338c, 2px 2px #000;
  background: #000;
  margin: 15px 20px;
  padding: 10px 15px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}
.checkout-final div {
  display: flex;
  align-items: center;
  gap: 5%;
}
.checkout-final div p {
  font-size: 2.5em;
  text-shadow: 2px 2px #b11312, 3px 3px #fff, 4px 4px #b11312;
}
.checkout-final span img {
  height: 40px;
}

.filter h2 {
  font-family: "H1 B";
  font-size: 2.5em;
  font-style: italic;
  margin: 0 12%;
}
.filter .ran {
  display: flex;
  justify-content: space-between;
}
.filter .ran .rd {
  color: #e5e5e5;
  font-family: "Text B";
}
.filter .cat {
  margin-top: 20px;
}
.filter .cat .ln {
  height: 2px;
  width: 100%;
  background: #fff;
  margin: 5px 0;
}
.filter .cat div {
  margin: 5px 0 5px 15px;
}
.filter .cat div input {
  margin: 5px;
}
.filter .cat div label {
  font-family: "Text";
}

#login {
  background: url(/src/assets/images/img19.png) 75% 25%/cover no-repeat;
  box-shadow: inset 5px 75px 75px -9px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login h1 {
  text-shadow: none;
  font-size: 1.5em;
  margin-top: 35px;
}
#login .login {
  margin: 250px 0 100px 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(123deg, rgb(2, 0, 36) 74%, rgba(180, 32, 47, 0.538) 100%);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  width: 70%;
  max-width: 800px;
}
#login .login .title {
  text-align: center;
}
#login .login .reg {
  display: flex;
  justify-content: center;
  margin: 5px 0 15px;
}
#login .login form {
  background: linear-gradient(to bottom right, #717b83, rgba(113, 123, 131, 0.1843137255));
  border: 2px solid rgba(113, 123, 131, 0.5333333333);
  border-radius: 15px;
  margin: 20px 15% 15% 15%;
  padding: 25px;
}
#login .login form label {
  font-family: "H1 B";
  font-size: 1.5em;
}
#login .login form .check {
  border: 2px solid #8c9196;
  border-radius: 5px;
  width: 100%;
  padding: 0.1em 0.5em;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
#login .login form .check input {
  background: none;
  border: none;
  padding: 0.2em;
  width: 90%;
  margin-left: 5px;
  color: #fff;
  font-family: "Text";
  font-size: 1em;
}
#login .login form .check input:focus {
  outline: none;
}
#login .login form .check input::placeholder {
  color: #e0e3e6;
  font-family: "Text";
  font-size: 1em;
}
#login .login form .check img {
  height: 25px;
  filter: brightness(0) saturate(100%) invert(66%) sepia(10%) saturate(195%) hue-rotate(169deg) brightness(86%) contrast(83%);
}
#login .login form .log {
  padding: 1em 1.8em;
  margin: 1em 0;
  background: linear-gradient(to right, rgba(7, 51, 140, 0.7), rgb(180, 32, 46));
  color: #fff;
  font-family: "H1 B";
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 3px;
  font-size: 1.2em;
  border: none;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
#login .login form .log:hover {
  background: linear-gradient(to top right, #07338c, #b4202e);
}

.forgot {
  display: flex;
  align-items: center;
  gap: 5%;
}
.forgot p {
  min-width: 45%;
}
.forgot .ln {
  width: 100%;
  height: 1px;
  background: #8c9196;
}

@media (min-width: 900px) {
  .forgot p {
    min-width: 20%;
  }
}
.spons {
  display: flex;
  gap: 35px;
  margin: 15px 0 0;
}

#dash button {
  padding: 0.9em 1.8em;
  margin: 1em 0;
  background: linear-gradient(to right, rgba(7, 51, 140, 0.7), rgb(180, 32, 46));
  color: #fff;
  font-family: "H1 B";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2em;
  border: none;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
#dash button:hover {
  background: linear-gradient(to right, #07338c, #b4202e);
}

#secret {
  display: flex;
  align-items: center;
  background: url(/src/assets/images/img37.png) center/cover no-repeat;
}

.identity {
  display: flex;
  gap: 2%;
  padding: 0 12%;
  position: relative;
}
.identity .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  background: rgba(7, 51, 140, 0.2392156863);
  backdrop-filter: blur(5px);
  padding: 5em;
  border-radius: 2em;
  border: 2px solid #212E3E;
  animation: fade-in 0.4s ease-in !important;
}
.identity .modal .modal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.identity .modal .modal-content .Close {
  position: fixed;
  top: 0;
  right: 0;
  background: none !important;
}
.identity .modal .modal-content .Close img {
  width: 35px;
}
.identity .leftp p {
  margin: 5px 0;
  cursor: pointer;
}
.identity .leftp p:hover {
  text-decoration: underline;
}
.identity .rightp {
  transition: all, 5s ease-in-out;
}
.identity .rightp label, .identity .rightp span {
  font-family: "Text";
  font-size: 1.2em;
}
.identity .rightp span {
  margin-left: 10px;
}
.identity .rightp input {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid grey;
  margin-left: 10px;
  font-family: "Text B";
  font-size: 1.2em;
  color: #b11313;
}
.identity .rightp input:focus {
  outline: none;
}

section {
  position: relative;
  margin-bottom: 100px;
  margin-left: 10%;
}
section::after {
  content: "";
  height: 100%;
  width: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: -7%;
}
section h3 {
  font-size: 3em;
  font-family: "H1 B";
  position: relative;
  margin-bottom: 5%;
}
section h3::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
section div {
  margin: 0 5px 0;
}

footer {
  margin: 5% 0 15%;
}
footer p {
  font-size: 0.9em;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footsoc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footsoc div {
  margin: 15px 10px;
}

/*# sourceMappingURL=App.css.map */
